In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

def mapearIdade(idade):
    if idade <= 30:
        return 'até 30'
    elif idade <= 50:
        return '31 a 50'
    elif idade <= 70:
        return '51 a 70'
    elif idade <= 90:
        return '71 a 90'
    else:
        return '91 ou mais'

def mapearExpectativaVida(faixa):
    if faixa == 'até 30': return 0.05
    if faixa == '31 a 50': return 0.3
    if faixa == '51 a 70': return 0.3
    if faixa == '71 a 90': return 0.5
    return 0.8

def mapearCurva(curva):
    if curva == 'Normal': return 35
    if curva == 'Mais novos': return 55
    if curva == 'Mais velhos': return 75

def criar_df(curva, filiados):
    # Define age groups
    idades = list(range(25, 100))

    # Create a normal distribution with a mean and standard deviation
    mean_age = mapearCurva(curva)  # Mean age
    std_deviation = 15  # Standard deviation

    # Generate 2000 random ages following a normal distribution
    ages = np.random.normal(mean_age, std_deviation, filiados)

    # Clip the generated ages to stay within the defined range
    ages = np.clip(ages, min(idades), max(idades))

    # Round the ages to the nearest integer
    ages = np.round(ages).astype(int)

    # Count the number of people in each age group
    age_counts = {idade: ages.tolist().count(idade) for idade in idades}

    # Create a DataFrame
    data = {
        'idade': idades, 
        'faixa': [mapearIdade(idade) for idade in idades],
        'quantidade': [age_counts[idade] for idade in idades]
    }

    df = pd.DataFrame(data)

    df['expectativa'] = df['faixa'].apply(mapearExpectativaVida)

    df['falecidos'] = df['quantidade'] * df['expectativa']
    df['falecidos'] = df['falecidos'].astype(int)

    df['vivos'] = df['quantidade']-df['falecidos']
    df['vivos'] = df['vivos'].astype(int)

    return df

In [6]:
def criarBarChart(df):

    plt.style.use('dark_background')

    bars = plt.bar(df['faixa'], df['quantidade'], color='skyblue', edgecolor='lightblue', linewidth=2, alpha=0.7)

    plt.grid(axis='y', linestyle='--', alpha=0.5)

    for bar in bars:
        height = bar.get_height()
        plt.text(bar.get_x() + bar.get_width() / 2, height, str(int(height)), ha='center', va='bottom', fontsize=12, color='white')

    plt.figure(figsize=(12, 6))
    plt.bar(df['faixa'], df['quantidade'], color='skyblue')
    plt.xlabel('Faixa etária')
    plt.ylabel('Número de filiados')
    plt.title('Distribuição etária dos filiados')
    plt.xticks(rotation=45)
    plt.tight_layout()

    return plt.gcf()

In [18]:
def barchart_vivos_e_falecidos(df):
    faixas_ordenadas = ['até 30', '31 a 50', '51 a 70', '71 a 90']

    pivot_table = df.pivot_table(index='faixa', values=['falecidos', 'vivos'], aggfunc='sum')
    
    # Reordena as colunas na ordem desejada
    pivot_table = pivot_table.loc[faixas_ordenadas]

    # Create a stacked column chart
    pivot_table[['falecidos', 'vivos']].plot(kind='bar', stacked=True, figsize=(12, 6))

    plt.grid(axis='y', linestyle='--', alpha=0.5)

    # Add labels and a title
    plt.xlabel('Faixa Etária')
    plt.ylabel('Quantidade')
    plt.title('Relação vivos e falecidos por Faixa Etária')

    # Customize the legend (optional)
    plt.legend(title='Legenda', labels=['Falecido', 'Vivo'])

    # Show the chart
    plt.xticks(rotation=45)
    plt.tight_layout()
    return plt.gcf()

def valor_oportunidade(df, media, percentual):
    return df['falecidos'].sum() * media * percentual

In [4]:
curva = 'Normal'
filiados = 2000
media = 400000
percentual = 0.2

df = criar_df(curva, filiados)

#barchart_vivos_e_falecidos(df)

In [8]:
#pivot_table = df.pivot_table(index='faixa', values=['falecidos', 'vivos'], aggfunc='sum')

df.pivot_table(index=['falecidos', 'vivos'], aggfunc='sum')

            falecidos  vivos
quantidade
0                   0      0
1                   0      7
2                   1      3
3                   3      9
4                   1      3
7                   4     10
11                  6     16
12                  9     27
14                  8     20
15                  4     11
16                  4     12
17                 10     24
18                  5     13
23                  6     17
25                  7     18
28                  8     20
36                 10     26
37                 11     26
40                 24     56
41                 12     29
43                 12     31
44                 15     73
46                 13     33
47                 28     66
48                  2     46
49                 14     35
50                 30     70
53                  2     51
54                 16     38
55                 16     39
56                  2     54
57                 34     80
58                  2     56
62                 18     44
63                 18     45
537                26    511